.header {
  background-image: url('https://images.unsplash.com/photo-1547919307-39751fd99411?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80');
  display: flex;
  justify-content: center;
}